#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 1);
}

#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(214, 219, 227, 0.91);
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(214, 219, 227, 0.91) 100%);
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(214, 219, 227, 0.91) 100%);
    border-width: 0px;
    border-radius: 3px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
    color: rgba(18, 16, 16, 0.65);
    background-color: rgba(214, 219, 227, 1);
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(214, 219, 227, 0.91) 100%);
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(214, 219, 227, 0.91) 100%);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
    color: rgba(28, 128, 214, 1);
    background-color: rgba(145, 148, 158, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
    color: rgba(23, 128, 214, 1);
    background-color: rgba(129, 138, 148, 0.48);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #818a94;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #818a94;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #818a94;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #d6dbe3;
}

.scrollToTop {
    width: 100px;
    height: 130px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position: fixed;
    bottom: 100px;
    right: 10px;
    display: none;
}

.scrollToTop:hover {
    text-decoration: none;
}

.mod {
    background-color: #F0F0F0;
    border-radius: 10px;
    padding: 6px;
}

.modification {
    background-color: #ECF8E0;
    padding: 6px;
    border-radius: 10px;
    position: relative;
    left: -6px;
    width: 102%;
}

.modification2 {
    background-color: #ECF8E0;
    padding: 6px;
    border-radius: 10px;
    width: 101%;
    height: 102%
}

.modification .modification {
    width: 100%;
    position: static;
}

.special-list li:before {
    content: attr(data-number) ".";
}

.special-list li li:before {
    content: attr(data-number) attr(data-number) ".";
}
