        #custom-bootstrap-menu.navbar-default .navbar-brand {
            color: rgba(0, 0, 0, 1);
        }

        #custom-bootstrap-menu.navbar-default {
            font-size: 14px;
            background-color: rgba(214, 219, 227, 0.91);
            background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(214, 219, 227, 0.91) 100%);
            background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(214, 219, 227, 0.91) 100%);
            border-width: 0px;
            border-radius: 3px;
        }
        
        #custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
            color: rgba(18, 16, 16, 0.65);
            background-color: rgba(214, 219, 227, 1);
            background: -webkit-linear-gradient(top, rgba(248, 248, 248, 0) 0%, rgba(214, 219, 227, 1) 100%);
            background: linear-gradient(to bottom, rgba(248, 248, 248, 0) 0%, rgba(214, 219, 227, 1) 100%);
        }
        
        #custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
        #custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
            color: rgba(23, 128, 214, 1);
            background-color: rgba(129, 138, 148, 0.47);
        }
        
        #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
        #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
        #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
            color: rgba(23, 128, 214, 1);
            background-color: rgba(129, 138, 148, 0.48);
        }
        
        #custom-bootstrap-menu.navbar-default .navbar-toggle {
            border-color: #818a94;
        }
        
        #custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
        #custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
            background-color: #818a94;
        }
        
        #custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
            background-color: #818a94;
        }
        
        #custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
        #custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
            background-color: #d6dbe3;
        }